body{
    margin: auto;
    font-family: Merriweather;

}

.banner{
    text-align: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1400px;
    padding: 100px;
    margin: auto;
    border-radius: 16px;
    justify-content: center;
    position: relative;

    
    
}
.banner-subtitle{
    position: absolute;
    top: 177px;
    right: 531px;
    bottom: 383px;
    left: 530px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;

}
.banner-title{

    position: absolute;
    top: 283px;
    right: 344px;
    bottom: 177px;
    left: 344px;
    color: white;
    font-size: 90px;
    font-weight: 900;
    font-style: normal;
    padding: 5px;
    margin-top: 30px;   
}
.offer{
    text-align: center;
}
.sale{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}
.deals{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.categories{
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
margin-top: 0;
}
newyear-pic{
    display: flex;
    width: 800px;
height: 500px;
flex-shrink: 0;
}